@import "bootstrap/scss/bootstrap";

.menu-container {
  color: #fff;
  background-color:lightseagreen ;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.logo {
  margin-left:5px;
  flex: 2;
}
.menu {
  display: flex;
  justify-content: space-around;
}
.menu a {
  margin: 0 10px;
}