@import "bootstrap/scss/bootstrap";

.container-fluid {
  margin:0;
  padding:0;
}
.menu-container {
  color: #fff;
  background-color:lightseagreen ; 
  display: flex;
  justify-content: center;
}
.logo {
  margin-left:5px;
  flex: 2;
}
.menu {
  display: flex;
  justify-content: space-around;
  background: white;
  height: 90%;
  align-self: center;
  margin-right: 5px;
}
.menu a {
  margin: 0 10px;
}