<% @posts.each do |post|  %>
  <div class="row"> 
    <div class="col-sm-12">
      <h2><%= post.title %></h2>
      <%= simple_format post.description %>
      <div>
      <span class="badge badge-warning"><%= post.category.title %></span>
      </div>
    </div>
  </div>
  <hr/>
<%end%>